/* global style */
* { box-sizing: border-box; }

.container-fluid {
	width: 80%;
}

/* header section */
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 2rem 0;
}

/* main section */

.countries-box {
	display: grid;
	grid-template-columns: auto auto auto auto;
}

.country-box {
	padding: 1rem;
}

.country-box img {
	margin-bottom: 1rem;
}

.country-name {
	text-align: center;
	font-size: 24px;
}
